spring:
  application:
    name: ms-pedidos
  config:
    import: "optional:configserver:http://localhost:8888"
  profiles:
    active: dev

  cloud:
    config:
      username: root
      password: s3cr3t

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://tempo:4318